body {
  background: #D3D9C3;
}
.title-image{
  text-align: center;
  margin-top: 20px;
}
#burger-text {
  text-align: center;
  font-family: 'Raleway','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14pt;
  margin-top: 1rem;
}
ul{
  list-style-type: none;
}
li {
  padding: 5px;
  margin: 5px;
  background: #D3D9C3;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.form-group {
  margin-bottom: 5px;
}
